/* src/components/Header.css */
.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Ana menüyü ve butonları ayırır */
    align-items: center;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center; /* Butonların dikey ortalanmasını sağlar */
}

/* Profil butonu için özel stil */
.user-button {
    background-color: #555;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.user-button:hover {
    background-color: #777;
}
